%h1{ class: "brand-name" } All pictures
#nav
  %ul{ class: "nav nav-tabs" }
    %li{ class: 'active' }
      = link_to "All", pictures_path(all: true), remote: true, method: :get
    %li{ }
      = link_to "Discussed", pictures_path(all: false), remote: true, method: :get
%div{class: "pictures", id: "picture_show"}
  = render "pictures"
