.navbar.navbar-default.navbar-fixed-bottom
  .mini-chat.pull-right

.modal.fade{id: 'myModal',tabindex: "-1", role: "dialog", 'aria-labelledby': "myModalLabel"}
  -#.vertical-alignment-helper
  .modal-dialog.modal-lg.vertical-align-center{role: "document"}
    .modal-content
      .modal-body